{% extends "coop_app/base.html" %}
{% block content %}
<h2>Sertifikat Program Coop</h2>

{% if sertifikat %}
<div class="card p-4">
    <ul>
        <li><strong>Nama Mahasiswa:</strong> {{ sertifikat.mahasiswa.user.get_full_name }}</li>
        <li><strong>NIM:</strong> {{ sertifikat.mahasiswa.nim }}</li>
        <li><strong>Program Studi:</strong> {{ sertifikat.mahasiswa.prodi }}</li>
        <li><strong>Nama Perusahaan:</strong> {{ sertifikat.konfirmasi.nama_perusahaan }}</li>
        <li><strong>Periode Magang:</strong> {{ sertifikat.konfirmasi.periode }}</li>
        <li><strong>Konversi Nilai:</strong> {{ sertifikat.konfirmasi.posisi }} → Selamat telah menyelesaikan magang selama {{ sertifikat.konfirmasi.periode }}!!</li>
        <li><em>Diterbitkan pada {{ sertifikat.tanggal_terbit|date:"d M Y" }}</em></li>
    </ul>
</div>
{% else %}
  <p>Belum ada sertifikat. Silakan tunggu admin menerbitkannya.</p>
{% endif %}
{% endblock %}