{% extends 'coop_app/base.html' %}
{% block content %}
<h2>Lowongan</h2>
<div class="card">
  {% if lowongan %}
    <ul class="lowongan">
      {% for l in lowongan %}
        <li style="margin-bottom:20px;">
          <strong>{{ l.judul }}</strong> — <em>{{ l.perusahaan }}</em>
          <p>{{ l.deskripsi|linebreaksbr }}</p>
          <form action="{% url 'daftar_apply' l.pk %}" method="post">
            {% csrf_token %}
            <button type="submit">Daftar</button>
          </form>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Tidak ada lowongan saat ini. (Anda dapat menambahkan melalui admin)</p>
  {% endif %}
</div>
{% endblock %}
